# Sentiment Analysis

In [1]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Henry\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
import spacy
nlp = spacy.load('en_core_web_lg')

In [3]:
nlp(u'lion').vector # mathematical values

array([  1.2746  ,   0.46242 ,  -1.1829  ,  -5.2661  ,  -2.7128  ,
         1.8521  ,  -0.94273 ,   2.1865  ,   6.503   ,   0.6704  ,
         1.5361  ,   2.5992  ,  -0.36233 ,   4.3965  ,  -6.5644  ,
         1.6141  ,  -1.2897  ,   2.1184  ,  -0.63654 ,  -3.4572  ,
        -4.3771  ,   4.2074  ,  -3.6411  ,  -0.97214 ,   1.3253  ,
        -2.3125  ,  -3.6531  ,  -2.8398  ,   2.7913  ,  -1.53    ,
        -2.9984  ,  -2.6357  ,   0.50615 ,  -2.6925  ,   4.3401  ,
        -5.6017  ,   0.045691,   4.3832  ,  -0.19535 ,  -1.0751  ,
         0.32172 ,   2.4395  ,   4.6638  ,   3.4471  ,  -3.3847  ,
        -1.8238  ,   0.70212 ,   0.58557 ,   5.0032  ,  -3.1072  ,
         1.2364  ,   7.4595  ,   0.057368,   1.0111  ,  -1.0827  ,
         0.69113 ,   2.8009  ,  -3.4383  ,  -1.0599  ,  -2.2627  ,
        -5.149   ,  -5.0636  ,   3.1405  ,   1.0793  ,  -0.72892 ,
        -3.9939  ,  -0.69551 ,  -0.55767 ,   3.2555  ,  -2.9449  ,
         4.7114  ,   1.6388  ,   1.3828  ,   1.4255  ,  -3.2334  ,
        -2.274   ,  -1.8136  ,   2.2966  ,   2.5462  ,   1.0722  ,
        -0.73447 ,   1.2148  ,  -0.9196  ,  -0.065012,   2.088   ,
         0.57002 ,   3.5746  ,   1.7192  ,  -8.335   ,   0.71079 ,
         0.91314 ,  -5.0107  ,   1.899   ,  -4.4658  ,   4.7993  ,
        -0.39899 ,  -2.673   ,  -2.9354  ,   4.304   ,   1.4336  ,
         3.7121  ,   0.34882 ,   4.6512  ,  -4.5731  ,  -4.5665  ,
         1.5988  ,  -0.50383 ,   0.95857 ,   0.68728 ,  -0.39976 ,
        -3.1922  ,   4.4363  ,  -0.69479 ,  -1.9528  ,   4.9376  ,
         2.7259  ,   2.2485  ,   5.5734  ,   2.5842  ,   4.7836  ,
        -1.0274  ,   2.2703  ,  -2.0696  ,  -1.0642  ,  -4.932   ,
        -2.274   ,   4.1409  ,   0.73313 ,   2.1889  ,  -0.098888,
         1.6472  ,  -2.3985  ,   2.5911  ,   3.6026  ,   1.885   ,
         5.7822  ,  -1.4481  ,   1.8914  , -10.044   ,  -5.7452  ,
        -4.3224  ,  -3.854   ,   2.3084  ,  -0.84018 ,  -0.40526 ,
         4.7741  ,  -2.3271  ,   7.064   ,   0.95753 ,  -2.356   ,
         0.83953 ,   0.40004 ,   0.33743 ,   0.8376  ,   3.9285  ,
         0.05955 ,   2.4422  ,   4.3492  ,   3.9861  ,   2.1043  ,
        -1.0197  ,  -0.61752 ,  -0.42999 ,  -0.1014  ,  -5.9571  ,
        -0.53818 ,  -1.7797  ,   1.7446  ,   2.3934  ,  -0.50263 ,
        -1.6222  ,  -0.37372 ,  -6.8938  ,   0.55018 ,  -2.267   ,
         0.64912 ,   3.1525  ,  -2.2541  ,  -4.0384  ,   3.206   ,
         0.14962 ,  -2.6662  ,   0.18167 ,   5.0028  ,   2.1521  ,
         0.92419 ,   5.4163  ,  -2.2408  ,   1.6585  ,  -5.1625  ,
         5.029   ,   0.1026  ,  -0.44542 ,   2.0557  ,   3.7778  ,
         3.8679  ,  -2.7135  ,   5.3242  ,  -3.2916  ,   5.6421  ,
         5.0466  ,   1.6072  ,  -1.3206  ,   4.2044  ,  -0.33793 ,
        -3.1139  ,   2.8841  ,  -3.1565  ,  -2.9832  ,  -0.23235 ,
         2.3259  ,   3.5477  ,  -2.1299  ,  -1.8344  ,   2.7271  ,
         1.5568  ,   5.6865  ,   0.9412  ,  -2.6412  ,  -5.3254  ,
         1.3494  ,  -0.47159 ,   2.4979  ,  -1.5568  ,  -1.6911  ,
        -2.1842  ,   6.0319  ,   0.022573,   2.3824  ,  -1.1002  ,
         0.90216 ,  -1.9113  ,   1.5527  ,   5.7413  ,  -3.1956  ,
         0.68655 ,  -1.6068  ,   1.7404  ,  -3.2142  ,   6.4783  ,
         1.7548  ,  -2.9795  ,   0.97631 ,  -0.018354,  -0.6379  ,
         0.80559 ,   3.1923  ,   3.3335  ,   4.3068  ,  -1.0819  ,
        -1.3839  ,  -4.7626  ,  -4.6637  ,  -1.2201  ,  -3.2741  ,
         1.5204  ,   0.78119 ,   8.7339  ,   1.6009  ,  -0.79332 ,
         5.8416  ,  -1.485   ,   1.5978  ,   2.9746  ,  -0.30759 ,
        -1.8023  ,  -4.8344  ,   1.2817  ,  -2.5469  ,   2.6517  ,
         1.4881  ,   2.1952  ,  -0.12652 ,   1.2223  ,   0.44763 ,
        -3.1445  ,  -2.2051  ,  -4.1785  ,  -3.6539  ,   5.1929  ,
         0.78457 ,  -1.2312  ,   5.5624  ,  -1.8462  ,   6.1262  ,
        -1.6653  ,  -2.7557  ,  -0.066465,  -3.6362  ,   5.2005  ,
        -1.2865  ,   2.8855  ,   6.1219  ,   1.7824  ,   1.4264  ,
        10.628   ,  -0.36028 ,   1.9268  ,  -7.835   ,   0.57865 ],
      dtype=float32)

In [4]:
nlp(u'lion').vector.shape

(300,)

In [5]:
nlp(u'A Quick brown fox jumps over the lazy dog').vector.shape

(300,)

In [6]:
# Creating a three-token Doc object:

tokens = nlp(u'lion cat pet')

In [7]:
# Iterating through token combinations:

for token1 in tokens:
    for token2 in tokens:
        print(token1.text, token2.text)

lion lion
lion cat
lion pet
cat lion
cat cat
cat pet
pet lion
pet cat
pet pet

In [8]:
for token1 in tokens:
    for token2 in tokens:
        print(token1.text, token2.text, token1.similarity(token2))

lion lion 1.0
lion cat 0.3854507803916931
lion pet 0.20031584799289703
cat lion 0.3854507803916931
cat cat 1.0
cat pet 0.732966423034668
pet lion 0.20031584799289703
pet cat 0.732966423034668
pet pet 1.0

In [9]:
# These words are not similar

nlp(u'lion').similarity(nlp(u'dandelion'))

0.4145525455932417

In [10]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Henry\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [11]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [12]:
a = 'Avengers was a good movie.'
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [13]:
a = 'Endgame was the best, most awesome movie EVER MADE!!!'
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.425, 'pos': 0.575, 'compound': 0.8877}

In [14]:
a = 'This was the worst film to ever disgrace the screen.'
sid.polarity_scores(a)

{'neg': 0.477, 'neu': 0.523, 'pos': 0.0, 'compound': -0.8074}

In [15]:
# Using VADER to analyzing Amazon Reviews

import numpy as np
import pandas as pd

df = pd.read_csv(r"E:\Python for Data Science and Machine Learning\amazonreviews.tsv", sep='\t')
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [16]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [17]:
# Checking missing values

df.isnull().sum()

label     0
review    0
dtype: int64

In [18]:
sid.polarity_scores(df.loc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [21]:
pd.set_option('display.max_colwidth', -1)
df.loc[0]

C:\Users\Henry\AppData\Local\Temp\ipykernel_3780\327137009.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

label     pos
review    Stuning even for the non-gamer: This sound track was beautiful! It paints the senery in your mind so well I would recomend it even to people who hate vid. game music! I have played the game Chrono Cross but out of all of the games I have ever played it has the best music! It backs away from crude keyboarding and takes a fresher step with grate guitars and soulful orchestras. It would impress anyone who cares to listen! ^_^
Name: 0, dtype: object

In [22]:
sid.polarity_scores(df.loc[27]['review'])

{'neg': 0.085, 'neu': 0.915, 'pos': 0.0, 'compound': -0.5017}

In [23]:
df.loc[27]

label     neg
review    Disappointed: I read the reviews,made my purchase and was very disappointed. The charger is convenient by charging all four batteries at once but the charge only lasts a very short time. I now have to go and find batteries that will give me longer life than the kodak NiMH AA batteries.
Name: 27, dtype: object

In [25]:
# Adding Scores and Labels to the DataFrame

df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))
pd.set_option('display.max_colwidth', 80)
df.head()

,label,review,scores
0,pos,Stuning even for the non-gamer: This sound track was beautiful! It paints th...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}"
1,pos,The best soundtrack ever to anything.: I'm reading a lot of reviews saying t...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'compound': 0.8957}"
2,pos,"Amazing!: This soundtrack is my favorite music of all time, hands down. The ...","{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'compound': 0.9858}"
3,pos,Excellent Soundtrack: I truly like this soundtrack and I enjoy video game mu...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'compound': 0.9814}"
4,pos,"Remember, Pull Your Jaw Off The Floor After Hearing it: If you've played the...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'compound': 0.9781}"

In [26]:
# Extracting the compund score

df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])
df.head()

,label,review,scores,compound
0,pos,Stuning even for the non-gamer: This sound track was beautiful! It paints th...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}",0.9454
1,pos,The best soundtrack ever to anything.: I'm reading a lot of reviews saying t...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'compound': 0.8957}",0.8957
2,pos,"Amazing!: This soundtrack is my favorite music of all time, hands down. The ...","{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'compound': 0.9858}",0.9858
3,pos,Excellent Soundtrack: I truly like this soundtrack and I enjoy video game mu...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'compound': 0.9814}",0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After Hearing it: If you've played the...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'compound': 0.9781}",0.9781

In [27]:
# Creating positive & negative values

df['comp_score'] = df['compound'].apply(lambda c: 'positive' if c >=0 else 'negative')
df.head()

,label,review,scores,compound,comp_score
0,pos,Stuning even for the non-gamer: This sound track was beautiful! It paints th...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}",0.9454,positive
1,pos,The best soundtrack ever to anything.: I'm reading a lot of reviews saying t...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'compound': 0.8957}",0.8957,positive
2,pos,"Amazing!: This soundtrack is my favorite music of all time, hands down. The ...","{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'compound': 0.9858}",0.9858,positive
3,pos,Excellent Soundtrack: I truly like this soundtrack and I enjoy video game mu...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'compound': 0.9814}",0.9814,positive
4,pos,"Remember, Pull Your Jaw Off The Floor After Hearing it: If you've played the...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'compound': 0.9781}",0.9781,positive

In [31]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"E:\Python for Data Science and Machine Learning\moviereviews.tsv", sep='\t')
df.head()

,label,review
0,neg,how do films like mouse hunt get into theatres ? \r\nisn't there a law or so...
1,neg,some talented actresses are blessed with a demonstrated wide acting range wh...
2,pos,"this has been an extraordinary year for australian films . \r\n "" shine "" ha..."
3,pos,"according to hollywood movies made in last few decades , life in small town ..."
4,neg,my first press screening of 1998 and already i've gotten a prime candidate f...

In [32]:
# Checking missing values

df.isnull().sum()

label      0
review    35
dtype: int64

In [33]:
# Removing missing values

df.dropna(inplace=True)

In [34]:
df['label'].value_counts()

neg    983
pos    982
Name: label, dtype: int64

In [35]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [38]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df['comp_score'] = df['compound'].apply(lambda c: 'positive' if c >=0 else 'negative')

pd.set_option('display.max_columns', None)

df.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres ? \r\nisn't there a law or so...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'compound': -0.9125}",-0.9125,negative
1,neg,some talented actresses are blessed with a demonstrated wide acting range wh...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'compound': -0.8618}",-0.8618,negative
2,pos,"this has been an extraordinary year for australian films . \r\n "" shine "" ha...","{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'compound': 0.9951}",0.9951,positive
3,pos,"according to hollywood movies made in last few decades , life in small town ...","{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'compound': 0.9972}",0.9972,positive
4,neg,my first press screening of 1998 and already i've gotten a prime candidate f...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'compound': -0.2484}",-0.2484,negative